

.content {
    /* padding: 0 18px; */
    /* background-color: white; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

h4.mohi-h4-active {
    color: white;
    background-color: #888; 
    font-size: 1.5em;
    padding-left: 1em;
    margin-top:0em;
    font-weight: 700;
  }