h6 {
    margin-top:2em;
    margin-bottom: 0;
    font-size:1.2rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.mohi-line {
    float:left;
    overflow: hidden;
    width: 98%;
    height: 2px;
    content: '\a0';
    background-color:lightgrey;    
}