 
  .mohi-sidebar-item {
    padding-top:1rem;
    padding-bottom:1rem;
    float:left;
    display:block;
    text-align: left;
    border-radius: 0rem;
    margin-bottom:.1rem;
}

.auto-sidebar>.mohi-sidebar-item {
  width: 100%;
}
  
   a.mohi-sidebar-item.blue.mohi-active{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  a.mohi-sidebar-item.blue.mohi-active:hover{
    background-color:#0056b3;
  }
  
  a.mohi-sidebar-item{
    color: #000;
    background-color: #e0e4e7;
    border-color: #e0e4e7;
  }
    
  a.mohi-sidebar-item:hover{
    background-color: #b3bac0;
  }
  
  